* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
 body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(22, 22, 22);
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  max-width: 100%;
  margin: 0 100px;
}
h1,
h4{
  color: white;
}


